<link href="font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<title>resourcemanager</title>

<div class="form">
    <br/>
    <br/>
    <br/>
        <div class="chartbody">
            <button class="login fade-in" onclick="window.location.href = '/auth/outlook';" ><img src="./Cloud Vector 72dpi.png" class="login" alt="resourcemanager"></button>
        </div>
</div>