<script src="js/jexcel.js"></script>
<script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
<link rel="stylesheet" href="css/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jexcel/v4/jexcel.css" type="text/css" />

<link href="/style.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>let jsonObj = {};</script>

<title>resourcemanager</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">


<div class="chartouter center">
    <div class="chartmiddle">
        <div class="chartinner">
            <h2>RESTRICTED</h2>
            <h3>Access is restricted to Voldemort employees</h3>
            <a href="/auth/logout" class="button">Login</a>
        </div>
    </div>
</div>
<script>

</script>